body {
color: white;
background: black;
margin: 0px;
font-family: "Chakra Petch", sans-serif;
margin-bottom: 50px;
}
header{
    border-bottom: solid 1px rgb(42 122 228);
    padding: 15px;
    font-size: 32px;
    color: rgb(42 122 228);
}
.chamada {
    background: rgb(156, 26, 43);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.text {
    margin-right: 5%;
    font-size: 13px;
}

.h1 {
    font-size: 40px;
}

.p {
    font-size: 20px;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.videos img {
    opacity: 0.5;
    height: 250px;
}

.videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(42 122 228);
}